*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.section-1{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.section-1 .box{
    background: orange;
}
.section-2{
    width: 100%;
    height: 300px;
}
.section-2 .box{
    background: yellow;
    width: 100%;
    height: 100%;
}
.section-3{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.section-3 .box{
    background: blue;
}
.section-4{
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.section-4 .box{
    background: gray;
}
@media(max-width: 768px){
    .section-1{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-3{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-4{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media(max-width: 320px){
    .section-4{
        grid-template-columns: repeat(1, 1fr);
    }
    
}